@model PagedList.IPagedList<Online_Boutique.Areas.Admin.Models.Entites.donhang>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper right_col">
    <style type="text/css" media="screen">
        th, td {
            border-bottom: 1px solid #ddd;
        }
    </style>
    <div class="row">
        <h2 class="text-center">Danh sách đơn hàng !!!</h2>
    </div>
    <div class="row">

        <div class="col-md-12" style="border-bottom: 2px dotted green ; margin: 20px 0px;background-color: #CCFFFF;">
            <div class="col-md-2">
                <p>
                    <img width="100%" height="250px;" src="" alt="">
                </p>
                <h3 class="text-center"><?php echo $v['nameBook']; ?></h3>
            </div>
            <div class="col-md-10" style="background-color: white;">
                <div class="table-responsive">
                    <table class="table table-bordered" style="margin-top: 10px;">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th>Qty</th>
                                <th>Money</th>
                                <th>Create</th>
                                <th>Note</th>
                                <th colspan="3" class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@item.tenkh</td>
                                <td>@item.sdt</td>
                                <td>@item.email></td>
                                <td>@item.diachi</td>
                                <td>@item.soluong</td>
                                <td>@item.thanhtien vnd</td>
                                <td>@item.create_time</td>
                                <td>@item.update_time</td>
                                <td>
                                    <button onclick="updateOrdres(1,@item.id_hd);" type="button" class="btn btn-small btn-primary">Xác nhận</button>
                                </td>
                                <td>
                                    <button onclick="updateOrdres(2,@item.id_hd);" type="button" class="btn btn-small btn-danger"> Hủy</button>
                                </td>
                                <td>
                                    <a  class="btn btn-small btn-danger"> Sửa</a>
                                </td>
                            </tr>
                            }
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <?php endforeach; ?>
    </div>
</div>
<script type="text/javascript">
	function updateOrdres(status,idOrder)
	{

          $.ajax({
          	url : 'handle',
          	type: 'POST',
            dataType: 'json',
          	data :{'id': JSON.stringify(idOrder),'status' : JSON.stringify(status)},
          	success : function(res)
          	{
                   res= $.trim(res);
                   if (res.tus == 'OK') {
                       alert("Thao tác thành công");
                       window.loation.href = 'Index';
                   }
                   else
                   {
                      alert("Có lỗi xảy ra");
                   }
                   return false;
          	}
          });
	}
</script>
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>
