@model Online_Boutique.Areas.Admin.Models.Entites.LoaiSanPham

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("CreateAction","Category",FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Loại Sản Phẩm </h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label>Tên Loại</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.tenloaisp, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tenloaisp, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Giới Tính</label>
            <div class="col-md-10">
                <select name="gt" >
                   
                    <option value="Nam">Nam</option>
                    <option value="Nữ">Nữ</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
